body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#shrf {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff0000;
}
